:root{
  --paragraph-color: rgb(24, 26, 27);
  --form-color: rgb(27, 29, 30);
  --footer-color: rgb(24, 26, 27);
}
@font-face {
  font-family: "Norse";
  src: url("./Norse-Bold.otf");
}

body {
  
  padding: 0;
  margin: 0;
  font-family: "LiberationMonoRegular",sans-serif;
    color: white;
}

aside {
  display: flex;
  flex: 0.7;
  background-image: url(./background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h2 {
  padding: 0px 0px 0px 40px;
}
form {
  display: flex;
  gap: 250px;
  padding: 0px 40px 20px 30px;
}
input {
  width: 280px;
  height: 25px;
  border: 2px solid #000;
  margin-bottom: 0px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(59, 59, 59);
  color: white;
}
input:focus {
  outline: none;
  border-color: rgb(6, 148, 230);
}
.valid {
  border-color: rgb(6, 230, 36);
}
.invalid {
  border-color: rgb(250, 40, 3);
}

img {
  height: 100px;
  width: 80px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 125px;
  width: -webkit-fill-available;
  margin: 200px 0px 0px 0px;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  font-family: "Norse";
  font-size: 4.8rem;
}
.err {
  font-size: 0.8rem;
  font-weight: bold;
  width: 280px;
  height: 25px;
  color: red;
}
.content {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.container {
  display: flex;
  height: 100vh;
  width: auto;
}
.paragraph-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: var(--paragraph-color);
  justify-content: flex-end;
  padding: 50px 0px 50px 0px;
}
.submit-div {
  width: 0px;

  position: relative;
  top: 80px;
  left: 40px;
}
.form-section {
  margin: 0;
  padding: 0px 0px 0px 5px;
  background-color: var(--form-color);
  box-shadow: 0px -6px 2px rgb(0 0 0 / 25%), 0px 53px 0px rgb(0 0 0 / 0%)
}
.form-separator1 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 30px;
}
.form-separator2 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 30px;
}

button {
  width: 250px;
  height: 50px;
  background-color: #596d48;
  color: white;
  font-weight: bolder;
  font-size: 1.1rem;
  border-radius: 10px;
}
footer {
  display: flex;
  flex: 1;
  flex-direction: column;

  padding: 100px 40px 40px 45px;
  gap: 40px;
  background-color: var(--footer-color);
}
.footer-text,
a {
  font-size: 1.1rem;
  text-decoration: none;
}
